:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #ffffff
  --accent-background: #2196f3;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.section {
  margin: 94px 0 0 0;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}
/* =============== COMPONENTS ===============*/

.brand__logo,
.navigation__list-link:hover,
.navigation__list-link:focus,
.header__mail:hover,
.header__mail:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--accent-color);
}

.modal-btn,
.filters__modal-btn:hover,
.filters__modal-btn:focus {
  background: var(--accent-color);
}

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.subtitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* =============== END COMPONENTS ===============*/

/* =============== INDEX =============== */
/* =============== HEADER ===============*/
header {
  /*min-width: 1600px;*/
  min-height: 80px;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
}

.header .container {
  display: flex;
}

.brand__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin: 24px 93px 26px 0;
}

.navigation {
  display: flex;
  align-items: center;
  min-width: 294px;
  padding: 32px 0 32px 0;
  margin: 0 305px 0 0;
}

.navigation__list {
  display: flex;
}

.navigation__list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation__list-link,
.header__mail,
.header__tel {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation__list-link {
  color: #212121;
  position: relative;
}

.navigation__list-link.current::before {
  opacity: 1;
}

.navigation__list-link::before {
  content: "";
  display: inline-block;
  align-items: center;
  position: absolute;
  opacity: 0;
  left: 0px;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color); /*#2196f3*/
  border-radius: 2px;
}

/*header address*/
.address {
  display: flex;
  align-items: center;
  margin: 32px 0 32px 0;
}

/*header mail*/
.header__mail {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

/*header mail logo*/
.header__mail-logo {
  width: 16px;
  height: 12px;
  color: currentColor;
  margin-right: 10px;
}

/*header tel*/
.header__tel {
  display: inline-flex;
  align-items: center;
}

/*header tel logo*/
.header__tel-logo {
  width: 10px;
  height: 16px;
  color: currentColor;
  margin-right: 10px;
}

/*hover&focus color*/
.header__mail:hover .header__mail-logo,
.header__tel:hover .header__tel-logo,
.header__mail:focus .header__mail-logo,
.header__tel:focus .header__tel-logo {
  fill: var(--accent-color);
}

/*current color*/
.header__mail,
.header__tel {
  color: #757575;
}

/*current color*/
.header__mail-logo,
.header__tel-logo {
  fill: #757575;;
}

/* ========== END HEADER ========== */

/* =============== HERO ===============*/
.hero {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/hero/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 252px;
  padding-left: 252px;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}

.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}
/* =============== END HERO ===============*/

/* =============== FEATURE ===============*/
.feature .container {
  display: flex;
  min-height: 251px;
}

.feature__item {
  display: flex;
}

.feature__item-list {
  display: block;
  justify-content: center;
  max-width: 270px;
  min-height: 251px;
}

.feature__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.icon__feature {
  display: block;
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.feature__item-list:not(:last-child) {
  margin-right: 30px;
}

.feature__item-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.feature__item-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

/* =============== END FEATURE =============== */

/* =============== SERVICES =============== */
.services .title {
  margin-bottom: 50px;
}

.services__item {
  display: flex;
  align-items: center;
}

.services__item .services__item-list {
  position: relative;
}

.services__item-list-cover {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.section-services-subtitle {
  font-family: var(--main-font);
  width: fit-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.services__item-list:not(:last-child) {
  margin-right: 30px;
}

/* =============== END SERVICES =============== */

/* =============== TEAM =============== */
.team {
  background: #f5f4fa;
  min-height: 708px;
  padding: 94px 0 0 0;
  overflow: hidden;
}

.team .title {
  margin-bottom: 50px;
}

.team__item {
  display: flex;
  justify-content: space-between;
}

.team__item .subtitle {
  min-width: 152px;
  margin-bottom: 10px;
}

.team__item-list:not(:last-child) {
  margin-right: 30px;
}

.card {
  width: 270px;
  height: 428px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}

.team__item-content-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 44px;
  border-radius: 50%;
  /*background-color: #ffffff;*/ 
  margin: 0 auto 0 auto;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}


/* =============== END TEAM =============== */
/* =============== CLIENTS =============== */
.clients .container {
  margin-bottom: 94px;
}
.clients .title {
  margin-bottom: 50px;
}
.clients__list {
display: flex;
justify-content: center;
}

.clients__item {
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;
}

.clients__item-link:hover,
.clients__item-link:focus {
  color: var(--accent-color);
}

.clients__icon-1 {
  width: 45px; 
  height: 50px;
  fill: currentColor;
}

.clients__icon-2 {
  width: 40px; 
  height: 52px;
  fill: currentColor;
}
.clients__icon-3 {
  width: 41px; 
  height: 43px;
  fill: currentColor;
}

.clients__icon-4 {
  width: 80px; 
  height: 42px;
  fill: currentColor;
}

.clients__icon-5 {
  width: 59px; 
  height: 47px;
  fill: currentColor;
}

.clients__icon-6 {
  width: 89px; 
  height: 46px;
  fill: currentColor;
}

/* =============== END CLIENTS =============== */
/* =============== FOOTER =============== */
.footer {
  background: #2f303a;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
}

.row-left {
  margin-right: 70px;
  padding: 60px 0px;
}

.footer .brand__logo {
  margin: 0;
}

.footer .contact-list {
  display: flex;
  flex-direction: column;
  width: 231px;
}

.footer .contact-list__item:not(:first-child) {
  margin-top: 9px;
}

.contact-list__link,
.footer-mail__link,
.footer-tel__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: auto;
  margin-right: 0px;
}

.footer-mail__link,
.footer-tel__link {
  color: rgba(255, 255, 255, 0.6);
}

.row-right {
  width: 206px;
  height: 80px;
  margin-top: 72px;
}

.row-right .description {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

/* --- FOOTER SUBSCRIBE --- */
/*.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-mail-box {
  display: flex;
  justify-content: flex-end;
}

.footer-mail-input {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-btn {
  display: block;
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  border: none;
  background-image: url("../img/send.png");
  background-repeat: no-repeat;
  background-position: center right 28px;
  cursor: pointer;
  margin-left: 12px;*/
/* END FOOTER SUBSCRIBE */

/* =============== END FOOTER =============== */

/* =============== END INDEX =============== */

/* =============== PORTFOLIO =============== */

/* =============== FILTERS =============== */

.filters .container {
  display: flex;
  justify-content: center;
}

.filters__title-item {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters__modal-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  margin-right: 8px;
  margin-bottom: 50px;
}
.filters__modal-btn:hover,
.filters__modal-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* =============== END FILTERS =============== */

/* =============== PROJECTS =============== */
.projects__item {
  display: flex;
  flex-wrap: wrap;
}

.projects__item-list__link {
  display: block;
  cursor: pointer;
}

.projects__item-list:nth-child(3n) {
  margin-right: 0;
}

.projects__item-list {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
}

.projects__item-list:hover .overlay {
  transform: translateY(0);
}

.projects__item-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;        
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.projects__item-list__link:hover,
.projects__item-list__link:focus,
.projects__item-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
              0px 4px 4px rgba(0, 0, 0, 0.06), 
              1px 4px 6px rgba(0, 0, 0, 0.16);
}
  .projects__item-content-wrapper {
  padding: 20px 24px;
  width: 370px;
}

.projects__item .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.projects__item .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-align: left;
}

/* =============== END PROJECTS =============== */

/* =============== END PORTFOLIO =============== */

/* =============== BACKDROP =============== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.close-btn__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* =============== END BACKDROP =============== */
